@font-face {
font-family: 'TeXGyrePagellaRegular';
src: url('../fonts/texgyrepagella-regular-webfont.eot');
src: local('☺'), url('../fonts/texgyrepagella-regular-webfont.woff')
format('woff'), url('../fonts/texgyrepagella-regular-webfont.ttf')
format('truetype'),
url('../fonts/texgyrepagella-regular-webfont.svg#webfontAfRnnQCQ')
format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'TeXGyrePagellaItalic';
src: url('../fonts/texgyrepagella-italic-webfont.eot');
src: local('☺'), url('../fonts/texgyrepagella-italic-webfont.woff')
format('woff'), url('../fonts/texgyrepagella-italic-webfont.ttf')
format('truetype'),
url('../fonts/texgyrepagella-italic-webfont.svg#webfontpK19oYss')
format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'TeXGyrePagellaBold';
src: url('../fonts/texgyrepagella-bold-webfont.eot');
src: local('☺'), url('../fonts/texgyrepagella-bold-webfont.woff')
format('woff'), url('../fonts/texgyrepagella-bold-webfont.ttf')
format('truetype'),
url('../fonts/texgyrepagella-bold-webfont.svg#webfontJ9KOIeNs') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'TeXGyrePagellaBoldItalic';
src: url('../fonts/texgyrepagella-bolditalic-webfont.eot');
src: local('☺'), url('../fonts/texgyrepagella-bolditalic-webfont.woff')
format('woff'), url('../fonts/texgyrepagella-bolditalic-webfont.ttf')
format('truetype'),
url('../fonts/texgyrepagella-bolditalic-webfont.svg#webfontwQnx6YDO')
format('svg');
font-weight: normal;
font-style: normal;
}


@font-face {
font-family: 'TeXGyreAdventorRegular';
src: url('../fonts/texgyreadventor-regular-webfont.eot');
src: local('☺'), url('../fonts/texgyreadventor-regular-webfont.woff')
format('woff'), url('../fonts/texgyreadventor-regular-webfont.ttf')
format('truetype'),
url('../fonts/texgyreadventor-regular-webfont.svg#webfontn18Af3vl')
format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'TeXGyreAdventorItalic';
src: url('../fonts/texgyreadventor-italic-webfont.eot');
src: local('☺'), url('../fonts/texgyreadventor-italic-webfont.woff')
format('woff'), url('../fonts/texgyreadventor-italic-webfont.ttf')
format('truetype'),
url('../fonts/texgyreadventor-italic-webfont.svg#webfontdgkr3R85')
format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'TeXGyreAdventorBold';
src: url('../fonts/texgyreadventor-bold-webfont.eot');
src: local('☺'), url('../fonts/texgyreadventor-bold-webfont.woff')
format('woff'), url('../fonts/texgyreadventor-bold-webfont.ttf')
format('truetype'),
url('../fonts/texgyreadventor-bold-webfont.svg#webfontTc3iYEdw') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'TeXGyreAdventorBoldItalic';
src: url('../fonts/texgyreadventor-bolditalic-webfont.eot');
src: local('☺'), url('../fonts/texgyreadventor-bolditalic-webfont.woff')
format('woff'), url('../fonts/texgyreadventor-bolditalic-webfont.ttf')
format('truetype'),
url('../fonts/texgyreadventor-bolditalic-webfont.svg#webfontlVdkCKjF')
format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
    font-family: 'IMFELLFLOWERS2Regular';
    src: url('../fonts/feflow2-webfont.eot');
    src: local('☺'), url('../fonts/feflow2-webfont.woff') format('woff'), url('../fonts/feflow2-webfont.ttf') format('truetype'), url('../fonts/feflow2-webfont.svg#webfontGVklONzR') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin : 120px 0;
    padding : 0;
/*   background : #fffff9;*/
    background : #fffaf0; */FloralWhite*/
    color : #0f0a00;
}

body > section {
    width : 750px;
    margin: 0 auto;
    padding: 0;
}

header {
    margin-bottom : 40px;
    text-align : center;
    font-size : 12px;
    line-height:48px;
    font-family : "TexGyrePagellaRegular";
/*    font-family : 'TexGyreAdventorRegular'; */
    font-weight : normal;
    text-shadow: 0 2px 3px #cfcac0; /*d0d0c9;*/
}

h1 {
    display : inline;
    font-size : 48px;
    line-height:48px;
    font-family : "TexGyrePagellaBold";
    font-weight : normal;
}

header::after {
    font-size: 14px;
    line-height:28px;
    display : block;
    margin-top : 40px;
    content : 'a';
    font-family: 'IMFELLFLOWERS2Regular';
    transition: color .8s ease-in;
/* http://code.google.com/p/chromium/issues/detail?id=54699 */
   -webkit-transition: color .8s ease-in;
   -moz-transition: color .8s ease-in;
   -o-transition: color .8s ease-in;
}

header:hover::after {
    color : firebrick;
}

section section.left {
width : 350px;
float : left;
}

section section.right {
width : 350px;
float : right;
}

p {
    font-size : 18px;
    line-height : 27px;
    font-family : "TexGyrePagellaRegular";
}

p.small {
    font-size : 12px;
    line-height: 27px;
    font-family : 'TexGyreAdventorRegular';
}

h2 {
    font-size : 32px;
    line-height : 36px;
    font-family : "TexGyrePagellaRegular";
    font-weight : normal;
}

footer {
    clear:both;
    background : AntiqueWhite; /*seaShell */
    border-top : 1px solid #cfcac0;
}

footer section {
    width : 750px;
    margin: 60px auto;
    padding : 40px 0 80px 0;
}

a {
    text-decoration: none;
    color : firebrick;
}
