@font-face {
font-family: 'TeXGyrePagellaRegular';
src: url('../fonts/texgyrepagella-regular-webfont.eot');
src: local('☺'), url('../fonts/texgyrepagella-regular-webfont.woff')
format('woff'), url('../fonts/texgyrepagella-regular-webfont.ttf')
format('truetype'),
url('../fonts/texgyrepagella-regular-webfont.svg#webfontAfRnnQCQ')
format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'TeXGyrePagellaItalic';
src: url('../fonts/texgyrepagella-italic-webfont.eot');
src: local('☺'), url('../fonts/texgyrepagella-italic-webfont.woff')
format('woff'), url('../fonts/texgyrepagella-italic-webfont.ttf')
format('truetype'),
url('../fonts/texgyrepagella-italic-webfont.svg#webfontpK19oYss')
format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'TeXGyrePagellaBold';
src: url('../fonts/texgyrepagella-bold-webfont.eot');
src: local('☺'), url('../fonts/texgyrepagella-bold-webfont.woff')
format('woff'), url('../fonts/texgyrepagella-bold-webfont.ttf')
format('truetype'),
url('../fonts/texgyrepagella-bold-webfont.svg#webfontJ9KOIeNs') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'TeXGyrePagellaBoldItalic';
src: url('../fonts/texgyrepagella-bolditalic-webfont.eot');
src: local('☺'), url('../fonts/texgyrepagella-bolditalic-webfont.woff')
format('woff'), url('../fonts/texgyrepagella-bolditalic-webfont.ttf')
format('truetype'),
url('../fonts/texgyrepagella-bolditalic-webfont.svg#webfontwQnx6YDO')
format('svg');
font-weight: normal;
font-style: normal;
}


@font-face {
font-family: 'TeXGyreAdventorRegular';
src: url('../fonts/texgyreadventor-regular-webfont.eot');
src: local('☺'), url('../fonts/texgyreadventor-regular-webfont.woff')
format('woff'), url('../fonts/texgyreadventor-regular-webfont.ttf')
format('truetype'),
url('../fonts/texgyreadventor-regular-webfont.svg#webfontn18Af3vl')
format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'TeXGyreAdventorItalic';
src: url('../fonts/texgyreadventor-italic-webfont.eot');
src: local('☺'), url('../fonts/texgyreadventor-italic-webfont.woff')
format('woff'), url('../fonts/texgyreadventor-italic-webfont.ttf')
format('truetype'),
url('../fonts/texgyreadventor-italic-webfont.svg#webfontdgkr3R85')
format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'TeXGyreAdventorBold';
src: url('../fonts/texgyreadventor-bold-webfont.eot');
src: local('☺'), url('../fonts/texgyreadventor-bold-webfont.woff')
format('woff'), url('../fonts/texgyreadventor-bold-webfont.ttf')
format('truetype'),
url('../fonts/texgyreadventor-bold-webfont.svg#webfontTc3iYEdw') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'TeXGyreAdventorBoldItalic';
src: url('../fonts/texgyreadventor-bolditalic-webfont.eot');
src: local('☺'), url('../fonts/texgyreadventor-bolditalic-webfont.woff')
format('woff'), url('../fonts/texgyreadventor-bolditalic-webfont.ttf')
format('truetype'),
url('../fonts/texgyreadventor-bolditalic-webfont.svg#webfontlVdkCKjF')
format('svg');
font-weight: normal;
font-style: normal;
}

body {
    background : #f5f5f5;
    margin : 0 28px 112px 28px;
    padding : 0;
    color : #0f0a00;
    font-size : 16px;
    line-height: 28px;
    font-family : 'TexGyreAdventorRegular';
}

body > article, body > nav {
    width : 630px;
    margin: 56px 84px;
    padding: 0;
}

body.home > article, body.home > nav {
    margin-left: auto;
    margin-right: auto;
}

html body > article {
    margin-top : 112px;
}

html body > nav {
    margin-top : 84px;
}

p.home-link {
    width : 630px;
    margin : 0 84px;
    font-size : 12px;
    color : #f5f5f5;
/*    background : #0f0a00;*/
    line-height : 28px;
    text-align: right;
}

p.home-link a {
/*    color : #f5f5f5;*/
    color : #0f0a00;
    text-decoration: none;
    line-height : 28px;
    padding: 0 8px;
}

h1 {
    font-size : 52px;
    line-height: 56px;
    font-weight : normal;
/*    text-shadow: 2px 2px 3px #cfcac0;*/
    font-family : 'TexGyrePagellaRegular';
    margin : 0 0 56px 0;
}

p {
    padding : 0;
    margin : 0 0 28px 0;
}

/* Todo */
h2 {
    font-size : 32px;
    line-height : 26px;
    font-weight : normal;
}

nav ul {
    min-height : 28px;
    margin : 0;
    padding: 0;
}

nav li {
    float : left;
    width : 210px;
    height : 28px;
    list-style-type: none;
    font-size : 12px;
    line-height : 28px;
    text-align: center;
    margin : 0;
    padding: 0;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    font-weight : normal;
    font-family: 'TexGyreAdventorBold';
    line-height : 28px;
}
